bin/
obj/
.vs/
*.user
TestResults/
website/public/
__pycache__/
website/.private-words
dist/

# Android
android/.gradle/
android/.kotlin/
android/**/build/
android/local.properties
android/keystore.properties
*.keystore
*.jks
